{% extends "base.html" %}
{% block content %}
<div class="w3-row">
    <div class="w3-half">
        <img src="https://www.w3schools.com/w3images/streetart.jpg" style="width:100%">
        <img src="https://www.w3schools.com/w3images/streetart2.jpg" style="width:100%">
        <img src="https://www.w3schools.com/w3images/streetart5.jpg" style="width:100%">
    </div>

    <div class="w3-half">
        <img src="https://www.w3schools.com/w3images/streetart3.jpg" style="width:100%">
        <img src="https://www.w3schools.com/w3images/streetart4.jpg" style="width:100%">
    </div>
</div>
{% endblock %}
